* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.page {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
.page:has(.modal--is-open) {
  padding-right: 17px;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.header {
  border-bottom: solid 1px;
  border-color: #ececec;
}
.header__content {
  height: 80px;
  display: flex;
}
.header__logo {
  margin-right: 93px;
}
.header__contacts {
  margin-left: auto;
  gap: 50px;
}

.logo {
  padding: 0;
  display: flex;
  align-items: center;
  width: fit-content;
  font-family: Raleway;
  line-height: 30.52px;
  font-size: 31px;
  font-weight: 700;
  letter-spacing: 0.03em;
}
.logo__web {
  color: #2196f3;
}
.logo--white {
  color: #fff;
}

.nav {
  display: flex;
}
.nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  gap: 50px;
  color: #212121;
  font-weight: 500;
}
.nav__item {
  display: flex;
}
.nav__link {
  display: flex;
  align-items: center;
  transition: color 0.3s;
}
.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.contacts {
  padding: 0;
  display: flex;
}
.contacts__link {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: color 0.3s;
  color: #757575;
}
.contacts__link--address {
  color: #fff;
}
.contacts__link:hover {
  color: #2196f3;
}
.contacts__icon {
  color: inherit;
}
.contacts__icon--envelope {
  height: 12px;
  width: 16px;
}
.contacts__icon--smartphone {
  height: 16px;
  width: 10px;
}
.contacts__address {
  font-style: normal;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer__content {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.footer__logo {
  margin: 0 0 20px;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 9px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.subscribe__title {
  margin: 0 0 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
  color: #fff;
}
.subscribe__input {
  padding: 16px;
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  background-color: transparent;
  outline: none;
  color: #ffffff;
}
.subscribe__form {
  display: flex;
  gap: 12px;
}
.subscribe__button {
  padding: 0 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
}
.subscribe__button::after {
  content: "";
  height: 24px;
  width: 24px;
  display: block;
  background-image: url("../../images/svg/subscribeSend.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.form__label {
  margin: 0 0 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  position: relative;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  letter-spacing: 0.01em;
}
.form__label--textarea {
  margin: 0 0 20px;
}
.form__label--terms {
  margin: 0 0 30px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.form__input {
  padding: 12px;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  transition: all 250ms;
}
.form__input--textarea {
  padding: 12px 16px;
  height: 120px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  letter-spacing: 0.01em;
  text-align: left;
  resize: none;
}
.form__input--textarea::placeholder {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  letter-spacing: 0.01em;
  text-align: left;
}
.form__input:focus, .form__input:hover {
  border-color: #2196f3;
}
.form__input--checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.form__input-icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  height: 18px;
  width: 18px;
  transition: color 250ms;
}
.form__checkbox {
  display: block;
  height: 16px;
  width: 16px;
  background-image: url("../../images/svg/checkbox.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.form__input--checkbox:checked + .form__checkbox {
  background-image: url("../../images/svg/checkbox--checked.svg");
}
.form__input:hover + .form__input-icon, .form__input:focus + .form__input-icon {
  color: #2196f3;
}
.form__link {
  color: #2196f3;
  text-decoration: underline;
}
.form__button {
  padding: 0 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
  cursor: pointer;
}

.banner {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 600px;
  max-width: 1600px;
  background: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/banner--bg.jpg"), #2f303a;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, top -160px center, center;
}
.banner__title {
  margin: 0;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  text-align: center;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}
.banner__button {
  margin: 0;
  padding: 0;
  width: 216px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
  cursor: pointer;
}

.features {
  padding: 94px 0;
}
.features__list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  list-style: none;
}
.features__item {
  text-align: left;
}

.feature__title {
  margin: 0;
  height: 16px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.25px;
}
.feature__icon-container {
  margin-bottom: 30px;
  padding: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
}
.feature__icon {
  height: 70px;
  width: 70px;
}
.feature__text {
  margin-top: 10px;
  margin-bottom: 0;
  height: 72px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.25px;
}

.services {
  padding-bottom: 94px;
}
.services__list {
  margin-top: 50px;
  display: flex;
  gap: 30px;
  list-style: none;
}
.services__image {
  border-radius: 4px;
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.7176470588);
}
.services__item {
  position: relative;
  transition: transform 0.2s ease-in-out;
}
.services__item:hover {
  transform: scale(1.1);
}
.services__item:hover .services__legend {
  opacity: 1;
}
.services__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  text-align: center;
}
.services__legend {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #fff;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 0.2s;
}

.team {
  padding: 94px 0;
  background-color: #f5f4fa;
}
.team__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  text-align: center;
}
.team__list {
  margin-top: 50px;
  display: flex;
  list-style: none;
  gap: 30px;
}
.team__item {
  height: 428px;
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1411764706);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5215686275);
}

.media svg {
  display: block;
}

.social-icons__title {
  margin: 0 0 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
  color: #fff;
}

.social-icons__list {
  display: flex;
  gap: 10px;
  list-style: none;
}

.social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: #fff;
  color: #afb1b8;
  transition: color 0.3s, background-color 0.3s;
}

.social-icons__link--footer {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1019607843);
}

.social-icons__link:hover {
  color: white;
  background-color: #2196f3;
}

.social-icons__icon {
  height: 20px;
  width: 20px;
  color: inherit;
}

.person {
  transform: scale(1);
  transition: transform 300ms;
}
.person:hover {
  transform: scale(1.1);
}
.person__info {
  padding: 30px 0;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}
.person__name {
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  letter-spacing: 0.03em;
}
.person img {
  display: block;
}
.person__position {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  letter-spacing: 0.03em;
  color: #757575;
}
.person__social {
  margin: 0 auto;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
.modal--is-open {
  display: block;
}
.modal__background {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.modal__window {
  padding: 40px;
  position: absolute;
  background-color: #fff;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 580px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
}
.modal__title {
  margin: 0 0 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.44px;
  letter-spacing: 0.03em;
  text-align: center;
}
.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  cursor: pointer;
}

.project {
  border: 1px solid #eeeeee;
}
.project:hover .project__description {
  transform: translateY(0%);
}
.project__content {
  padding: 20px 24px;
  background-color: #fff;
}
.project__item {
  border: solid #eeeeee 1px;
}
.project__image-container {
  position: relative;
  height: 294px;
  display: flex;
  overflow: hidden;
}
.project__image {
  height: 100%;
}
.project__description {
  padding: 24px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(33, 150, 243, 0.8980392157);
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__title {
  margin: 0 0 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
}
.project__type {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
}

.projects {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  list-style: none;
  width: 100%;
}

.clients {
  padding: 94px 0;
}
.clients__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  text-align: center;
}
.clients__list {
  padding: 0;
  margin: 50px 0 0;
  display: flex;
  gap: 30px;
  list-style: none;
}
.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms linear, border-color 250ms linear;
}
.clients__icon {
  width: 106px;
  height: 60px;
  color: inherit;
}
.clients__link:hover {
  color: #2196f3;
  border-color: #2196f3;
}

.portfolio {
  margin: 94px 215px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio__filters {
  margin: 0 auto 34px;
}

.filters {
  padding: 0;
  width: fit-content;
  display: flex;
  gap: 8px;
  list-style: none;
}

.filter--active .filter__button {
  color: #fff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1019607843);
}
.filter__button {
  padding: 6px 22px;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  transition: all 0.3s;
  cursor: pointer;
}
.filter__button:focus, .filter__button:hover {
  background-color: #2196f3;
  color: #fff;
}

/*# sourceMappingURL=main.css.map */
